__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

venv/
VE/
env/
ENV/

/media/
*/media/
staticfiles/
*/staticfiles/

.env
*.env


frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.DS_Store

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
